body {
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center ; 
    align-items: center;
}

#coraçao{
    color: rgb(252, 41, 41);
    font-size: 5em;
    animation: heart 1s alternate  infinite ;
}


@keyframes  heart {
    0% { transform: scale(2); }

    25% { transform: scale(2.5); }

    50% { transform: scale(3.5); }

    100% { transform: scale(4); } 
}

